.tab-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
    h1 {
        font-size: 40px;
        margin-top: 0.5em;
        margin-bottom: 1.5em;
    }

    p {
        font-family: 'Merriweather', 'serif';
        font-size: 1.25em;
        line-height: 1.75em;
    }

    h1:hover {
        cursor: default;
    }
}