$red: #c0362c;
$sub-red: #74201A;
$light-red: #D55248;
$lighter-red: #D96159;
$light-charcoal: #464F5D;
$charcoal: #353b45;
$gunmetal: #282C34;
$raisin-black: #21252C;
$eerie-black: #1a1d23;

.footer {
    width: 100%;
    background-color: $gunmetal;
    margin-top: auto;
    bottom: 0;
    margin-bottom: 0;
    height: 400px;
    font-family: 'Oswald', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
}

.bottom {
    // bottom: 0px;
}

.back-to-top {
    background-color: $charcoal;
    color: white;
    padding-block: 1em;
    span {
        font-size: 18px;
    }
}

.back-to-top:hover {
    cursor: default;
    background-color: $light-charcoal;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    img {
        width: 300px;
        height: 300px;
        padding-block: 1em;
    }
}

.final-line {
    font-family: sans-serif;
    font-size: 12px;
    background-color: $eerie-black;
    color: white;
    padding: 0.5em;
}