$red: #c0362c;
$sub-red: #74201A;
$light-red: #D55248;
$lighter-red: #D96159;
$light-charcoal: #464F5D;
$charcoal: #353b45;
$gunmetal: #282C34;
$raisin-black: #21252C;
$eerie-black: #1a1d23;

.page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-header {
    width: 100%;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    background-color: $red;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.5);
    z-index: 3;    
    
    h1 {
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
        color: white;
        font-size: 27px;
        margin: 0.5em;
        span {
            font-size: 30px;
        }
    }
    
    h1:hover {
        cursor: pointer;
    }

    img {
        margin: 1em;
        width: 300px;
        height: 300px;
    }
}

.fog {
    z-index: 2;
    width: 70%;
    box-shadow: 0px 32px 32px 32px white;
    position: sticky;
    top: 2em;
}

.page-container {
    margin-block: 5em;
    min-width: 800px;
    width: 80%;
    display: flex;
    height: 100vh;
}

ul {
    z-index: 1;    
    border-right: 1px solid lightgray;
    position: sticky;
    top: 8em;
    height: fit-content;
    li {
        font-family: 'Poppins', 'sans serif';
        font-size: 24px;
        padding-block: 0.6em;
        padding-right: 2em;
        padding-left: 1em;
        white-space: nowrap;
        transition-duration: 0.25s;
        color: $gunmetal;
    }
    li:hover {
        cursor: pointer;
        opacity: 0.5;
    }
}

.tab-container {
    width: 100%;
    padding-inline: 2em;
}

.tab-container div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    visibility: hidden;
    height: 0px;

    h1 {
        font-size: 40px;
    }

    h1:hover {
        cursor: default;
    }
}

.active-li {
    color: $red;
}

.tab-container .active-tab {
    visibility: visible;
    height: fit-content;
    min-height: 100%;
    animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}