$red: #c0362c;
$sub-red: #74201A;

.page {
    width: 100%;
    height: 200vh;
}

.page-header {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    background-color: $red;
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.5);
    h1 {
        color: white;
        font-size: 27px;
        margin: 0.5em;
    }
    img {
        margin: 1em;
        width: 300px;
        height: 300px;
    }
}