$gunmetal: #282C34;

.background {
    width: 100%;
    height: 100vh;
    object-fit:cover;
    position: relative;
}

.App-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    font-size: 72px;
    font-weight: 500;
    margin: 0.2em;
    white-space: nowrap;
}

.opening-text h1:hover {
    cursor: pointer;
}


.opening-text {
    position: absolute;
}

.cable-top {
    position: absolute;
    top: 0px;
    h1 {
        font-size: 68px;
    }

    span {
        font-size: 52px;
        font-weight: 300;
    }
}

a {
    text-decoration: none;
    color: white;
}

.emphasis {
    background-color: $gunmetal;
    padding: 0.1em;
}

.chevron {
    opacity: 0;
    font-size: 81px;
    animation: chevronAnimation 1.5s infinite;
}

@keyframes chevronAnimation {
    
    0% {
        transform: translateY(-15px);
    }
    10% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    90% {
        opacity: 0;
    }
    100% {
        transform: translateY(15px);
    }
}